.light {
  --tv-node-title-color: #212121;
  --tv-node-toggle-hover: #c5c5c5;
  --tv-node-toggle-icon: #414141;
  --tv-node-bg: #f0f2f5;
  --tv-node-bg-open: #b6cbfc;
}

.dark {
  --tv-node-title-color: #b0b3b8;
  --tv-node-toggle-hover: #777c82;
  --tv-node-toggle-icon: #bdbdbd;
  --tv-node-bg: #3a3b3c;
  --tv-node-bg-open: #394b76;
}

.tv-node {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-left: 15px;
  margin-bottom: 5px;
  margin-top: 5px;

  &--no-padding {
    padding-left: 0;
  }

  &-title {
    width: 100%;
    cursor: pointer;
    user-select: none;
    position: relative;
    color: var(--tv-node-title-color);
    background-color: var(--tv-node-bg);
    font-size: 15px;
    font-weight: 500;
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: all 0.4s;
    padding: 4px 8px;
    border-radius: 6px;

    &--open {
      background-color: var(--tv-node-bg-open);
    }

    &--selected {
      background-color: #4759e4;
      color: #fff;
    }

    &-text {
      width: 100%;
    }
  }

  &-toggle {
    height: 18px;
    width: 18px;
    min-width: 18px;
    min-height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2px;

    &:hover {
      background-color: var(--tv-node-toggle-hover);
    }

    &-icon {
      height: 13px;
      width: 13px;
      transition: all 0.4s;
      fill: var(--tv-node-toggle-icon);

      &--active {
        transform: rotate(90deg);
        fill: #4759e4;
      }

      &--selected {
        fill: #fff;
      }
    }

    &-placeholder {
      height: 18px;
      width: 18px;
      min-width: 18px;
      min-height: 18px;
      margin-right: 2px;
    }
  }

  &-children {
    will-change: transform, opacity, height;
    overflow: hidden;
    margin-bottom: -5px;
  }
}
