.badge {
  position: relative;

  &-text {
    position: fixed;
    transform: translate(-25%, 25%);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    text-align: center;
    text-indent: 0;
    white-space: nowrap;
    min-width: 20px;
    height: 20px;
    line-height: 1;
    color: #fff;
    padding: 4px 6px;
    border-radius: 10px;
  }
}
