.media-gallery-container {
  width: 100%;
  overflow-x: hidden;
}

.media-gallery {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 0 10px;
  height: 212px;

  & > :not(:last-of-type) {
    margin-right: 20px;
  }
}
