.radio-button {
  height: 23px;
  width: 23px;
  border-radius: 50%;
  border: 1px solid #aaaaaa;
  transition: all 200ms;

  &-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;

    &--top {
      flex-direction: column-reverse;
    }

    &--right {
      flex-direction: row;
    }

    &--bottom {
      flex-direction: column;
    }

    &--left {
      flex-direction: row-reverse;
    }
  }

  &-icon {
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 50%;
  }

  &-text {
    font-size: 17px;
    font-weight: 400;
    color: #242526;

    &--top {
      margin-bottom: 4px;
    }

    &--right {
      margin-left: 4px;
    }

    &--bottom {
      margin-top: 4px;
    }

    &--left {
      margin-right: 4px;
    }
  }

  &--selected {
    background-color: #4d4f52;
    border-color: #4d4f52;
  }
}
