.history-item {
  display: flex;
  font-size: 14px;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  &-left {
    width: 35%;
    height: 100%;
    padding-right: 4px;
  }

  &-right {
    width: 65%;
    height: 100%;
    padding-left: 4px;
  }

  &-user {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2px;

    &-fullname {
      font-size: 16px;
      font-weight: 600;
      margin-right: 4px;
      margin-bottom: 2px;
    }

    &-step {
      font-size: 13px;
      font-weight: 500;
      line-height: 1;
      color: #4759e4;
      background-color: #4759e428;
      border-radius: 4px;
      padding: 2px 4px;
      padding-bottom: 4px;
    }
  }

  &-date {
    font-size: 13px;
  }

  &-text {
    font-size: 14px;

    &--empty {
      font-style: italic;
    }
  }
}
