.main {
  height: 100vh;
  width: 100vw;
  position: relative;

  &-content {
    width: 100%;
    height: calc(100% - 65px);
    display: flex;
  }
}

.sidebar-container {
  border-right: 1px solid var(--sidebar-border-bottom-color);
}
