.light {
  --checkbox-bg: #fff;
  --checkbox-border: #e1dfdf;
}

.dark {
  --checkbox-bg: #242526;
  --checkbox-border: #161616;
}

.checkbox {
  height: 18px;
  width: 18px;
  border-radius: 4px;
  border: 1px solid var(--checkbox-border);
  transition: all 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 50ms;
  background-color: var(--checkbox-bg);

  &-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    height: fit-content;

    &--top {
      flex-direction: column-reverse;
    }

    &--right {
      flex-direction: row;
    }

    &--bottom {
      flex-direction: column;
    }

    &--left {
      flex-direction: row-reverse;
    }

    &--disabled {
      &::after {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #8f8d8d9a;
        z-index: 5;
        border-radius: 4px;
      }
    }
  }

  &-icon {
    height: 14px;
    width: 14px;
    display: flex;
    align-items: center;
    justify-content: center;

    & > svg {
      height: 100%;
      width: 100%;
      fill: #fff;
      transform-origin: center;
    }
  }

  &--active {
    background-color: #4759e4;
    border-color: #4759e4;
  }

  &--indefinite {
    background-color: #4759e469;
    border-color: #4759e469;
  }

  &-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    user-select: none;

    &--top {
      margin-bottom: 10px;
    }

    &--right {
      margin-left: 10px;
    }

    &--bottom {
      margin-top: 10px;
    }

    &--left {
      margin-right: 10px;
    }
  }
}
