.accordion-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background: #fff;
  overflow: hidden;
  // border: 1px solid #9395978a;

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }

  &-title {
    cursor: pointer;
    user-select: none;
    position: relative;
    padding: 12px 35px;
    padding-left: 12px;
    color: #0f0f10;
    font-size: 15px;
    font-weight: 500;

    &-svg {
      position: absolute;
      top: 50%;
      right: 10px;
      height: 20px;
      width: 20px;
      transform: translateY(-50%) rotateX(0);
      transition: all 200ms;
      fill: #414141;

      &--active {
        transform: translateY(-50%) rotateX(180deg);
      }
    }
  }

  &-content {
    background-color: #f0f0f0;
  }
}
