.light {
  --table-bg: #fff;
  --table-thead-bg: #74879b38;
  --table-thead-bg-hover: #74879b91;
  --table-title-text-color: #140810;
  --table-tr-border-color: #eaeff4;
  --table-th-border-color: #9b9d9e;
  --table-th-color: #606468;
}

.dark {
  --table-bg: #242526;
  --table-thead-bg: #4759e44b;
  --table-thead-bg-hover: #4759e483;
  --table-title-text-color: #fafafa;
  --table-tr-border-color: #4e4f50;
  --table-th-border-color: #757677;
  --table-th-color: #e0e0e0;
}

.table-container {
  width: 100%;
  background-color: var(--table-bg);

  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.table-title {
  padding: 10px 20px;
  font-size: 22px;
  font-weight: 500;
  color: var(--table-title-text-color);
}

.table-area {
  position: relative;

  &--loading {
    &::after {
      content: "";
      height: 100%;
      width: 100%;
      background: #ffffff8c;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
    }
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: auto;
  user-select: none;

  &-pagination {
    display: flex;
    align-items: center;

    &-total {
      margin-right: 20px;
      font-size: 16px;
      color: var(--table-th-color);
    }

    &-control {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      user-select: none;
      transition: all 100ms;
      border-radius: 6px;
      border: 1px solid rgba($color: #4759e4, $alpha: 0.25);
      padding: 5px;

      & > svg {
        fill: #4759e4;
        height: 20px;
        width: 20px;
      }

      &:hover > svg {
        fill: #4759e4;
      }

      &:not(:last-of-type) {
        margin-right: 4px;
      }

      &--disabled {
        cursor: initial;

        & > svg,
        & > svg:hover {
          fill: #00000027 !important;
        }
      }
    }

    &-visible-pages {
      display: flex;
      justify-content: center;
      margin: 0 10px;
    }

    &-page-size-select {
      margin-left: 10px;
      min-width: 150px;
    }

    &-page-index-select {
      min-width: 75px;
    }
  }

  &-no-data {
    &-icon {
      height: 80px;
      width: 80px;
      fill: var(--table-thead-bg);
      margin-bottom: 5px;
      margin-top: 20px;
    }

    &-text {
      font-size: 17px;
      color: var(--table-th-color);
    }
  }

  &-thead {
    background-color: var(--table-thead-bg);
    padding: 0 10px;
    transition: border-color 50ms, background-color 50ms, color 75ms;
  }

  &-tbody {
    width: 100%;
  }

  &-tr {
    padding: 12px;
    width: 100%;
  }

  &-td {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--table-title-text-color);
    transition: all 200ms;
    border-bottom: 1px solid var(--table-tr-border-color);
  }

  &-td,
  &-th {
    padding: 8px;
    text-align: center;
    vertical-align: middle;
  }

  &-th {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: var(--table-th-color);
    position: relative;

    &-sorter {
      position: absolute;
      top: 50%;
      right: 2.5px;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;

      & > svg {
        height: 20px;
        width: 20px;
        fill: #b9b9be;
        transition: all 200ms;

        &:first-of-type {
          transform: translateY(5.5px);
        }

        &:last-of-type {
          transform: translateY(-5.5px);
        }
      }
    }
  }
}
